@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}
html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}